<!-- Include external JS libs for Froala editor -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="../node_modules/wysiwyg-editor-node-sdk/lib/video.min.js"></script>

{{#with comment}}
<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                <h3 class="card-title" id="signup">Edit Comment:</h3>

                <form action="/saveEditedComment" method="POST">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{!-- <textarea class="edit" name="content" id="content">{{{content}}}</textarea> --}}
                                <textarea class="form-control" id="content" name="content" rows="10" required>{{{content}}}</textarea>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('.edit').froalaEditor({
                            heightMin: 300,
                            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'fontFamily', 'fontSize', 'color',  'align',   'undo', 'redo'],
                            toolbarButtonsMD: ['fullscreen', 'bold', 'italic', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'align', 'undo', 'redo'],
                            toolbarButtonsSM: ['fullscreen', 'bold', 'italic', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'align',  'undo', 'redo'],
                            //toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'clearFormatting', '|', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
                            //imageUploadURL: '/upload_image',
                            //imageUploadParams: {
                            // id: 'my_editor',
                            // }
                        });
                    </script>
                    <script>
                        $('div#froala-editor').froalaEditor('html.get');
                        console.log($('#froala-editor').froalaEditor('html.get'))
                    </script>
                    <div class="form-group float-right">
                        <input type="hidden" name="commentId" value="{{commentId}}">
                        <input type="hidden" name="articleId" value="{{articleId}}">
                        <input class="btn btn-light" type="submit" value="Save Changes">
                        <input class="btn btn-light" type="reset" value="Restore Original Text">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{{/with}}